$biscuit-color:#F1E2D7;
$my-skills-color:#E3AE57;
$light-tomato-color:#E7724C;
$light-black:#161616;
$nav-bar-text:#71706F;
$brand-color:#333333;
$white-color:white;
$bold-color:#663333;
$yellow-color:#A87D2B;
$yellow-education:#E3AE57;